.photo-grid-wrapper {
  display: grid;
  grid-template-columns: 1.5fr 3fr 1.5fr;
  overflow-y: scroll;
  max-height: calc(100vh - 290px);

  .grid-item-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-column-start: 2;
    grid-gap: 20px;
  }
}
