.drop-panel {
  display: grid;
  grid-template-columns: 9fr 1fr;
  grid-auto-rows: auto;
  grid-gap: 20px;
  margin: 20px;
  grid-auto-flow: dense;
  grid-template-rows: 160px;
  .empty-div {
    border: black 1px solid;
    width: 100%;
    height: 100%;
  }
  .button-container {
    display: flex;
    justify-content: flex-end;
    margin-left: 10px;
  }
  .drop-item-wrapper {
    width: 100%;
    height: 100%;
    border: 3px solid #666;
    border-radius: 0.5em;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    align-items: center;
    padding: 0px 10px 0px 10px;
  }
}
